#estimate {
  padding: 100px 50px;
  background-color: #f2fbfa;
  font-family: Noto Sans;
  letter-spacing: 0;
}
.estimate__category {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: Gotham;
  letter-spacing: 1px;
  color: #81c9c1;
}
#estimate > h2 {
  text-align: center;
  font-size: 30px;
  margin: 50px 0 70px;
}
.estimate__content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 920px;
  margin: 0 auto;
}
.estimate__description {
  text-align: center;
  line-height: 2;
}
.estimate__description a {
  text-decoration: none;
  font-weight: bold;
  color: #00b49f;
}
.estimate__form-box {
  text-align: center;
  font-size: 12px;
  margin: 30px 0;
}
.estimate__form-box p::before {
  content: "*";
  color: #00b49f;
}
