#point {
  padding: 100px 50px;
  background-color: #fff;
  font-family: Noto Sans;
}
#point > h2 {
  text-align: center;
  font-size: 30px;
  margin: 50px 0 190px;
}
#point > h2 > span {
  color: #00b49f;
}
.point__category {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: Gotham;
  letter-spacing: 1px;
  color: #81c9c1;
}
.point__content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.point__content-box > div {
  width: 100%;
}
.point__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.point__content.first {
  margin-bottom: 80px;
}
.point__image {
  width: 33.33%;
  text-align: center;
}
