#service {
  padding: 100px 50px;
  background-color: #f5f5f5;
  font-family: Gotham;
}
.service__category {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: Gotham;
  letter-spacing: 1px;
  color: #81c9c1;
}
#service > h2 {
  text-align: center;
  font-size: 30px;
  margin: 50px 0 70px;
}
.service__content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 250px;
  background-color: #fff;
  margin: 0 auto 50px;
  border-radius: 20px;
}
.service__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 40px;
}
.service__number-box {
  width: 10%;
  color: #00b49f;
  letter-spacing: 0;
  text-align: center;
}
.service__number-text {
  font-size: 16px;
}
.service__number {
  font-size: 60px;
}
.service__image {
  width: 40%;
}
.service__text-box {
  width: 50%;
  font-family: Noto Sans;
}
.service__text-box h3 {
  font-size: 20px;
  font-weight: bold;
  color: #00b49f;
  letter-spacing: 1px;
  margin: 0 0 30px;
}
.service__text-box h3 > span {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
}
.service__text-box p {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 2;
}
.service__text-box p::before {
  content: "â— ";
  font-size: 10px;
  color: #00b49f;
}
.service__image {
  text-align: center;
}
#service > .download__document {
  display: table;
  margin: 100px auto 10px;
  text-align: center;
}
