#service {
  padding: 100px 50px;
  background-color: #f5f5f5;
  font-family: Noto Sans;
}
.service__category {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  font-family: Gotham;
  letter-spacing: 1px;
  color: #81c9c1;
}
#service > h2 {
  text-align: center;
  font-size: 30px;
  margin: 50px 0 70px;
}
.service__content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  min-height: 250px;
  background-color: #fff;
  margin: 0 auto 50px;
  border-radius: 20px;
}
.service__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 40px;
}
.service__number-box {
  width: 10%;
  color: #00b49f;
  letter-spacing: 0;
  text-align: center;
}
.service__number-text {
  font-size: 16px;
}
.service__number {
  font-size: 60px;
}
.service__image {
  width: 40%;
  text-align: center;
}
.service__text-box {
  width: 50%;
  font-family: Noto Sans;
}
.service__text-box h3 {
  font-size: 20px;
  font-weight: 700;
  color: #00b49f;
  letter-spacing: 1px;
  margin: 0 0 30px;
}
.service__text-box h3 > span {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
}
.service__text-box p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 2;
}
.service__text-box p::before {
  content: "● ";
  font-size: 10px;
  color: #00b49f;
}
#service > .download__document {
  display: table;
  margin: 100px auto 10px;
  text-align: center;
}

@media (max-width: 768px) {
  #service {
    padding: 50px 20px;
    background-color: #f5f5f5;
    font-family: Noto Sans;
  }
  .service__category {
    text-align: center;
    font-size: 3.48vw;
    font-weight: 700;
    font-family: Gotham;
    letter-spacing: 0;
    color: #81c9c1;
  }
  #service > h2 {
    text-align: center;
    font-size: 4.97vw;
    letter-spacing: 0;
    margin: 2.56vw 0 14vw;
  }
  .service__content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: initial;
    min-height: auto;
    background-color: #fff;
    margin: 0 auto 7.692vw;
    border-radius: 20px;
  }
  .service__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5.641vw 3.846vw 8.2vw;
  }
  .service__number-box {
    width: 100%;
    color: #00b49f;
    letter-spacing: 0;
    text-align: center;
  }
  .service__number-text {
    font-size: 3.59vw;
  }
  .service__number {
    font-size: 12.82vw;
  }
  .service__image {
    width: 100%;
    text-align: center;
    margin-bottom: 7.6vw;
  }
  .service__text-box {
    width: 100%;
    font-family: Noto Sans;
  }
  .service__text-box h3 {
    font-size: 4.102vw;
    font-weight: 700;
    color: #00b49f;
    letter-spacing: 0;
    margin: 0 0 5.1vw;
  }
  .service__text-box h3 > span {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
  }
  .service__text-box p {
    font-size: 3.57vw;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.6;
  }
  .service__text-box p::before {
    content: "● ";
    font-size: 10px;
    color: #00b49f;
  }
  #service > .download__document {
    display: table;
    margin: 5vw auto 0;
    text-align: center;
  }
}
