@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* BASE STYLE
--------------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  line-height: 1.7;
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-text-size-adjust: 100%;
  font-weight: 500;
  text-size-adjust: 100%;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe {
  vertical-align: middle;
}

/* CLEAR-FIX */
.clearfix {
  zoom: 1;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.inner {
  max-width: 1200px;
  width: 95%;
  margin: auto;
}

.inner_min {
  max-width: 1000px;
  width: 95%;
  margin: auto;
}

.inner_min01 {
  max-width: 1100px;
  width: 95%;
}

.common_mla {
  margin-left: auto;
}

.common_mra {
  margin-right: auto;
}

.wrap {
  overflow: hidden;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex_dry {
  flex-direction: row-reverse;
}

.is_between {
  justify-content: space-between;
}

.sp-bl {
  display: none;
}

.pc-bl {
  display: block;
}

.tellink {
  pointer-events: none;
}

html.active,
body.active {
  overflow: hidden;
  height: 100%;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

@media screen and (max-width: 1024px) {
  .tellink {
    pointer-events: auto;
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .sp-bl {
    display: block;
  }
  .pc-bl {
    display: none;
  }
  .inner {
    max-width: 560px;
    width: 90%;
    margin: auto;
  }
  .inner_min {
    max-width: 560px;
    width: 90%;
    margin: auto;
  }
  .inner_min01 {
    max-width: 560px;
    width: 100%;
    margin: auto;
  }
}

.header {
  width: 100%;
  z-index: 10000;
  transition: all .3s;
  border-bottom: 1px solid #fff;
}

.header .header_pc .header_bg {
  padding: 20px 0;
}

.header .header_pc .header_bg .header_box {
  margin-bottom: 10px;
}

.header .header_pc .header_bg .header_box .logo {
  width: 240px;
}

.header .header_pc .header_bg .header_box .right .tel_content {
  margin-right: 10px;
}

.header .header_pc .header_bg .header_box .right .tel_content .tel {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  padding-left: 25px;
  font-size: 26px;
  line-height: 1.2;
  position: relative;
}

.header .header_pc .header_bg .header_box .right .tel_content .tel::before {
  content: '';
  display: block;
  position: absolute;
  background: url(../img/common/Icon_tel.png) no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  left: 0;
  top: 5px;
}

.header .header_pc .header_bg .header_box .right .tel_content .tel a {
  color: #fff;
  text-decoration: none;
}

.header .header_pc .header_bg .header_box .right .tel_content .txt {
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
}

.header .header_pc .header_bg .header_box .right .contact {
  background-color: #EA861E;
  width: 150px;
  height: 45px;
  text-align: center;
  transition: all .3s;
}

.header .header_pc .header_bg .header_box .right .contact a {
  font-size: 16px;
  display: block;
  line-height: 1.5;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.header .header_pc .header_bg .header_box .right .contact:hover {
  background-color: #E8A865;
}

.header .header_pc .header_bg .header_nav {
  width: 60%;
  min-width: 600px;
  margin-left: auto;
}

.header .header_pc .header_bg .header_nav ul {
  justify-content: flex-end;
}

.header .header_pc .header_bg .header_nav ul li {
  margin-right: 20px;
  color: #fff;
}

.header .header_pc .header_bg .header_nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.header .header_pc .header_bg .header_nav ul li.header_list {
  margin-right: 40px;
  cursor: pointer;
}

.header .header_pc .header_bg .header_nav ul li.header_list .accd_main {
  position: relative;
}

.header .header_pc .header_bg .header_nav ul li.header_list .accd_main::after {
  content: '';
  position: absolute;
  right: -17px;
  top: 9px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(135deg);
}

.header .header_pc .header_bg .header_nav ul li.header_list .accd_main.open::after {
  top: 10px;
  transform: rotate(-45deg);
}

.header .header_pc .header_bg .header_nav ul .accd_list {
  display: none;
  position: absolute;
  top: 100%;
}

.header .header_pc .header_bg .header_nav ul .accd_list li {
  margin-right: 0;
  padding: 5px 0;
}

.header .header_sp {
  display: none;
}

.header #drawermenu {
  display: none;
}

.header.sub {
  border-bottom: 1px solid #333;
}

.header.sub .header_pc .header_bg .header_box .right .tel_content .tel::before {
  content: '';
  display: block;
  position: absolute;
  background: url(../img/common/Icon_tel_bk.png) no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  left: 0;
  top: 5px;
}

.header.sub .header_pc .header_bg .header_box .right .tel_content .tel a {
  color: #333;
}

.header.sub .header_pc .header_bg .header_box .right .tel_content .txt {
  color: #333;
}

.header.sub .header_pc .header_bg .header_nav ul li {
  color: #333;
}

.header.sub .header_pc .header_bg .header_nav ul li.header_list p::after {
  border-top: 1px solid #333;
  border-right: 1px solid #333;
}

.header.sub .header_pc .header_bg .header_nav ul li a {
  color: #333;
}

.header.sub .header_pc .header_bg .header_nav ul .accd_list {
  display: none;
  position: absolute;
  top: 100%;
}

.header.sub .header_pc .header_bg .header_nav ul .accd_list li {
  margin-right: 0;
  padding: 5px 0;
}

@media screen and (max-width: 768px) {
  .header {
    border-bottom: none;
  }
  .header.active {
    top: 60px;
  }
  .header .header_pc {
    display: none;
  }
  .header .header_sp {
    display: block;
    height: 90px;
    width: 100%;
    padding: 0 5%;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    z-index: 10000;
  }
  .header .header_sp .header_sp_inner {
    align-items: center;
    position: relative;
  }
  .header .header_sp .header_sp_inner .sp_logo {
    width: 150px;
    height: 60px;
    position: relative;
    top: 15px;
    left: 0px;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.98);
    display: flex;
    align-items: center;
  }
  .header .header_sp .header_sp_inner .sp_logo a {
    display: block;
    padding: 10px;
  }
  .header .header_sp .header_sp_inner .contact {
    background-color: #EA861E;
    width: 115px;
    text-align: center;
    position: absolute;
    right: 55px;
    top: 15px;
  }
  .header .header_sp .header_sp_inner .contact a {
    font-size: 14px;
    display: block;
    line-height: 1.42;
    color: #fff;
    padding: 20.5px 10px;
    text-decoration: none;
  }
  .header .header_sp .header_sp_inner .header_spnavbtn {
    display: block;
    position: relative;
    margin-left: auto;
    width: 35px;
    top: 6px;
    right: 0px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    z-index: 9999;
  }
  .header .header_sp .header_sp_inner .header_spnavbtn span {
    display: block;
    width: 35px;
    background-color: #fff;
    height: 4px;
    margin-bottom: 10px;
    position: absolute;
    transition: all .5s;
  }
  .header .header_sp .header_sp_inner .header_spnavbtn span:nth-child(2) {
    transform: translateY(10px);
  }
  .header .header_sp .header_sp_inner .header_spnavbtn span:nth-child(3) {
    transform: translateY(20px);
  }
  .header .header_sp .header_sp_inner .open.header_spnavbtn .one {
    transform: translateY(10px) rotate(45deg);
  }
  .header .header_sp .header_sp_inner .open.header_spnavbtn .two {
    opacity: 0;
  }
  .header .header_sp .header_sp_inner .open.header_spnavbtn .three {
    transform: translateY(10px) rotate(-45deg);
  }
  .header .header_sp .header_sp_inner .open.header_spnavbtn span {
    background-color: #333;
  }
  .header #drawermenu {
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    display: block;
    opacity: 0;
    transition: .6s;
  }
  .header #drawermenu .drawbox {
    padding: 28vw 5vw 8vw;
    text-align: center;
  }
  .header #drawermenu .drawbox .draw_list .list {
    text-align: left;
    border-top: 1px solid #c3c3c3;
  }
  .header #drawermenu .drawbox .draw_list .list:first-child {
    border-top: none;
  }
  .header #drawermenu .drawbox .draw_list .list .list_accd {
    padding: 3vw;
    padding-left: 15px;
    font-size: 15px;
  }
  .header #drawermenu .drawbox .draw_list .list .accd_list {
    padding-left: 15px;
  }
  .header #drawermenu .drawbox .draw_list .list a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 3vw;
    padding-left: 15px;
    font-size: 15px;
    line-height: 1.466;
  }
  .header .open#drawermenu {
    pointer-events: auto;
    opacity: 1;
    height: 100vh;
    overflow: scroll;
    transition: .6s;
  }
}

@media screen and (max-width: 480px) {
  .header #drawermenu .drawbox .draw_list .list a {
    padding: 3vw;
  }
  .header #drawermenu .drawbox .draw_list .list .list_accd {
    padding: 3vw;
  }
  .header .open#drawermenu {
    height: 80vh;
  }
}

.footer {
  background-color: #333;
}

.footer .footer_top {
  padding: 50px 0;
}

.footer .footer_top .footer_logo {
  margin-bottom: 30px;
  transition: all .3s;
}

.footer .footer_top .footer_logo a {
  display: block;
}

.footer .footer_top .footer_logo .img {
  width: 180px;
}

.footer .footer_top .footer_logo:hover {
  opacity: 0.8;
}

.footer .footer_top .contents .left {
  width: 50%;
}

.footer .footer_top .contents .left .txt {
  color: #fff;
  line-height: 1.5;
}

.footer .footer_top .contents .left .txt a {
  text-decoration: none;
  color: #fff;
}

.footer .footer_top .contents .right {
  width: 34%;
}

.footer .footer_top .contents .right .list {
  width: 49%;
}

.footer .footer_top .contents .right .list li {
  margin-bottom: 10px;
  transition: all .3s;
}

.footer .footer_top .contents .right .list li:last-child {
  margin-bottom: 0;
}

.footer .footer_top .contents .right .list li a {
  color: #fff;
  line-height: 1.5;
  text-decoration: none;
}

.footer .footer_top .contents .right .list li:hover {
  opacity: 0.8;
}

.footer .footer_btm {
  border-top: 1px solid #fff;
  padding: 20px 0;
}

.footer .footer_btm .copy {
  color: #fff;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer .footer_top {
    padding: 25px 0;
  }
  .footer .footer_top .footer_logo {
    margin-bottom: 15px;
  }
  .footer .footer_top .footer_logo .img {
    width: 120px;
  }
  .footer .footer_top .contents .left {
    width: 100%;
  }
  .footer .footer_top .contents .left .txt {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
  }
  .footer .footer_top .contents .right {
    display: none;
  }
  .footer .footer_btm {
    padding: 10px 0;
  }
  .footer .footer_btm .copy {
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
  }
}

.common_line_yellow {
  background: linear-gradient(transparent 60%, #F6F2B9 40%);
}

.common_color_orange {
  color: #EA861E;
}

.common_mv {
  background: url(../img/top/top_mv_PC.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
}

.common_mv .inner_min {
  height: 100vh;
  position: relative;
}

.common_mv .txtbox {
  position: absolute;
  top: 70%;
  top: 25%;
}

.common_mv .txtbox .txt_a {
  font-size: 3.9vw;
  font-weight: bold;
  line-height: 1.447;
  color: #fff;
  margin-bottom: 10px;
}

.common_mv .txtbox .txt_b {
  font-size: 1.25vw;
  color: #fff;
  font-weight: bold;
  line-height: 1.667;
}

.common_mv .txtbox.subpage .txt_a {
  color: #333;
  margin-bottom: 25px;
}

.common_mv .txtbox.subpage .txt_a * {
  font-weight: bold;
}

.common_mv .txtbox.subpage .txt_a .a_01 {
  font-size: 2.6vw;
  line-height: 1.5;
  margin-bottom: 2%;
}

@media screen and (max-width: 768px) {
  .common_mv .txtbox.subpage .txt_a .a_01 {
    font-size: 5.87vw;
  }
}

.common_mv .txtbox.subpage .txt_a .a_01 span {
  font-size: 3.44vw;
}

@media screen and (max-width: 768px) {
  .common_mv .txtbox.subpage .txt_a .a_01 span {
    font-size: 8vw;
  }
}

.common_mv .txtbox.subpage .txt_a .a_02 {
  font-size: 3.96vw;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .common_mv .txtbox.subpage .txt_a .a_02 {
    font-size: 9.33vw;
  }
}

.common_mv .txtbox.subpage .txt_a .a_02 .big {
  font-size: 4.9vw;
}

@media screen and (max-width: 768px) {
  .common_mv .txtbox.subpage .txt_a .a_02 .big {
    font-size: 11.73vw;
  }
}

.common_mv .txtbox.subpage .txt_a .a_02 .smail {
  font-size: 3.13vw;
}

@media screen and (max-width: 768px) {
  .common_mv .txtbox.subpage .txt_a .a_02 .smail {
    font-size: 7.2vw;
  }
}

.common_mv .txtbox.subpage .txt_b {
  color: #333;
}

.common_mv .scroll_fix {
  position: absolute;
  bottom: 20%;
  left: 50px;
}

.common_mv .scroll_fix .line {
  width: 2px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 55px;
  left: 40%;
  transform: translateX(-50%);
  overflow: hidden;
}

.common_mv .scroll_fix .line::before {
  content: '';
  background: #fff;
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: anime-scroll;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

@keyframes anime-scroll {
  0% {
    height: 20%;
  }
  100% {
    height: 120%;
  }
}

@media screen and (max-width: 1024px) {
  .common_mv .txtbox {
    left: 10%;
  }
}

@media screen and (max-width: 768px) {
  .common_mv {
    background: url(../img/top/top_mv_SP.jpg) no-repeat center center/cover;
    position: relative;
  }
  .common_mv .txtbox {
    width: 90%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  .common_mv .txtbox .txt_a {
    font-size: 33px;
    margin-bottom: 10px;
  }
  .common_mv .txtbox .txt_b {
    font-size: 14px;
    line-height: 1.785;
  }
  .common_mv .scroll_fix {
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
  }
  .common_mv .scroll_fix .line {
    width: 1px;
    height: 100px;
  }
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-bottom: 50px;
}

.breadcrumbs li {
  color: #333;
  margin-bottom: 5px;
  line-height: 1.5;
  font-size: 16px;
}

.breadcrumbs li a {
  font-size: 16px;
  text-decoration: none;
  color: #333;
  transition: all .3s;
}

.breadcrumbs li a::after {
  content: '>';
  display: inline-block;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .breadcrumbs {
    padding-top: 25px;
    margin-bottom: 40px;
  }
  .breadcrumbs li {
    font-size: 13px;
    margin-bottom: 0;
    line-height: 1.5;
  }
  .breadcrumbs li a {
    font-size: 13px;
  }
  .breadcrumbs li a::after {
    content: '>';
    padding: 0 10px;
  }
}

.common_ttl {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6667;
  margin-bottom: 20px;
}

.common_alt{
  margin-bottom: 60px;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.857;
}
.common_alt span {
  color: #319EDC;
}

@media screen and (max-width: 768px) {
  .common_ttl {
    font-size: 18px;
    line-height: 1.333;
    margin-bottom: 25px;
  }
  .common_alt{
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 1.538;
  }
}

.common_bg_fix {
  background-image: url(../img/top/top_pic04_PC.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.common_paid_bg {
  padding: 100px 0;
  background-image: url(../img/common/bg-plaid.png);
  background-repeat: repeat;
  position: relative;
}

@media screen and (max-width: 768px) {
  .common_bg_fix {
    background-image: url(../img/top/top_pic04_SP.jpg);
    background-attachment: inherit;
    height: 250px;
  }
}

.common_parts01 {
  padding: 150px 0;
}

.common_parts01 .inner_min01.mla {
  margin-left: auto;
}

.common_parts01 .left {
  width: 40%;
}

.common_parts01 .left .ttl {
  font-size: 24px;
  line-height: 1.6667;
  font-weight: bold;
  margin-bottom: 20px;
}

.common_parts01 .left .ttl .type {
  display: block;
  color: #319EDC;
  font-size: 14px;
  line-height: 2.857;
  font-weight: bold;
}

.common_parts01 .left .txt {
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 1.75;
}

.common_parts01 .left .btn a {
  width: 280px;
  display: inline-block;
  font-size: 16px;
  line-height: 2.22;
  color: #333;
  padding-bottom: 5px;
  text-decoration: none;
  transition: all .3s;
  border-bottom: 1px solid #c3c3c3;
}

.common_parts01 .left .btn a .btn_link {
  position: relative;
}

.common_parts01 .left .btn a .btn_link::after {
  content: '';
  display: block;
  position: absolute;
  right: -20px;
  top: 10px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #0071AF;
  border-right: 1px solid #0071AF;
  transform: rotate(45deg);
  transition: all .3s;
}

.common_parts01 .left .btn a:hover {
  opacity: 0.8;
}

.common_parts01 .left .btn a:hover .btn_link::after {
  right: -25px;
}

.common_parts01 .right {
  width: 54.546%;
}

@media screen and (max-width: 768px) {
  .common_parts01 {
    padding: 60px 0;
  }
  .common_parts01 .inner {
    width: 85%;
  }
  .common_parts01 .inner_min01.mla {
    margin-left: auto;
  }
  .common_parts01 .left {
    width: 100%;
  }
  .common_parts01 .left .ttl {
    font-size: 18px;
    line-height: 1.333;
    margin-bottom: 20px;
  }
  .common_parts01 .left .ttl .type {
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 1.538;
  }
  .common_parts01 .left .txt {
    font-size: 13px;
    margin-bottom: 25px;
    line-height: 1.46;
  }
  .common_parts01 .left .btn {
    margin-bottom: 20px;
  }
  .common_parts01 .left .btn a {
    width: 220px;
    font-size: 14px;
    line-height: 1.785;
    padding-bottom: 5px;
  }
  .common_parts01 .left .btn a .btn_link::after {
    top: 7px;
  }
  .common_parts01 .right {
    width: 100%;
  }
}

.common_parts02 {
  padding: 150px 0;
}

.common_parts02 .parts02_box .item {
  width: 49%;
  margin-bottom: 30px;
}

.common_parts02 .parts02_box .item:nth-last-of-type(-n+2) {
  margin-bottom: 0;
}

.common_parts02 .parts02_box .item .txtbox {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 30px;
  align-items: center;
  width: 89.8%;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.common_parts02 .parts02_box .item .txtbox .left {
  width: 15.79%;
  padding-right: 30px;
  border-right: 1px solid #d7d7d7;
}

.common_parts02 .parts02_box .item .txtbox .left .img.point01 {
  width: 32px;
  height: 60px;
}

.common_parts02 .parts02_box .item .txtbox .left .img.point02 {
  width: 38px;
  height: 60px;
}

.common_parts02 .parts02_box .item .txtbox .left .img.point03 {
  width: 38px;
  height: 60px;
}

.common_parts02 .parts02_box .item .txtbox .left .img.point04 {
  width: 38px;
  height: 60px;
}

.common_parts02 .parts02_box .item .txtbox .right {
  width: 84.21%;
  padding-left: 30px;
}

.common_parts02 .parts02_box .item .txtbox .right .r_txt {
  font-weight: 500;
  line-height: 1.375;
}

.common_parts02 .parts02_box .item .img_p {
  position: relative;
}

.common_parts02 .parts02_box .item .img_p .txtbox {
  padding: 20px 30px;
  align-items: center;
  width: 89.8%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  position: relative;
  margin: -10% auto 0;
  z-index: 1;
  left: 0;
  bottom: 0;
  transform: inherit;
}

.common_parts02 .parts02_box .item .img_p .txtbox .left .img {
  width: 38px;
  height: 60px;
}

.common_parts02 .parts02_box .item .exp {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
}

.common_parts02 .parts02_box .item .exp_small {
  font-size: 14px;
  line-height: 1.7;
}

.common_parts02.common_flow {
  padding: 100px 0;
  background-image: url(../img/common/bg-plaid.png);
  background-repeat: repeat;
  position: relative;
}

@media screen and (max-width: 768px) {
  .common_parts02.common_flow {
    padding: 50px 0 70px;
  }
}

.common_parts02.common_flow .parts02_box {
  margin: 0 -2%;
}

.common_parts02.common_flow .parts02_box .item {
  display: flex;
  width: 33.3%;
  padding: 0 2%;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .common_parts02.common_flow .parts02_box .item {
    width: 100%;
    margin-bottom: 80px;
  }
  .common_parts02.common_flow .parts02_box .item:last-of-type {
    margin-bottom: 0;
  }
}

.common_parts02.common_flow .parts02_box .item::after {
  content: none;
}

@media screen and (max-width: 768px) {
  .common_parts02.common_flow .parts02_box .item::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 27.5px 0 27.5px;
    border-color: #ea881e transparent transparent transparent;
    line-height: 0px;
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translateX(-50%);
  }
}

.common_parts02.common_flow .parts02_box .item .img:not(:last-of-type)::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 9px 13.5px;
  border-color: transparent transparent transparent #ea881e;
  position: absolute;
  right: -26px;
  top: calc(50% - 15px);
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .common_parts02.common_flow .parts02_box .item .img:not(:last-of-type)::after {
    content: none;
  }
}

.common_parts02.common_flow .parts02_box .item .img span {
  position: relative;
  overflow: hidden;
  display: block;
}

.common_parts02.common_flow .parts02_box .item .img span::before {
  content: '';
  padding-top: 73%;
  display: block;
}

.common_parts02.common_flow .parts02_box .item .img span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.common_parts02.common_flow .parts02_box .item:last-of-type::after {
  content: none;
}

.common_parts02.common_flow .parts02_box .item:last-of-type .img::after {
  content: none;
}

.common_parts02.common_flow .parts02_box .item .txtbox {
  padding: 10px 20px 10px 10px;
  font-weight: 500;
}

.common_parts02.common_flow .parts02_box .item .txtbox .left {
  width: 20%;
}

.common_parts02.common_flow .parts02_box .item .txtbox .right {
  width: 80%;
  padding-left: 20px;
}

.common_parts02.common_flow .parts02_box .item .exp {
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .common_parts02.common_flow .parts02_box .item .exp {
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .common_parts02 {
    padding: 70px 0 40px;
  }
  .common_parts02 .parts02_box .item {
    width: 100%;
    margin-bottom: 80px;
  }
  .common_parts02 .parts02_box .item:nth-last-of-type(-n+2) {
    margin-bottom: 80px;
  }
  .common_parts02 .parts02_box .item:last-of-type {
    margin-bottom: 0;
  }
  .common_parts02 .parts02_box .item .txtbox {
    position: absolute;
    bottom: -40px;
    padding: 10px 15px;
  }
  .common_parts02 .parts02_box .item .txtbox .left {
    width: 18.79%;
    padding-right: 30px;
    border-right: 1px solid #d7d7d7;
  }
  .common_parts02 .parts02_box .item .txtbox .right {
    width: 81.21%;
    padding-left: 15px;
  }
  .common_parts02 .parts02_box .item .txtbox .right .r_txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.375;
  }
  .common_parts02 .parts02_box .item .img_p {
    position: relative;
    margin-bottom: 10px;
  }
  .common_parts02 .parts02_box .item .img_p img {
    width: 100%;
  }
  .common_parts02 .parts02_box .item .exp {
    font-size: 14px;
  }
  .common_parts02.common_flow {
    padding: 50px 0 70px;
  }
  .common_parts02.common_flow .parts02_box .item {
    width: 100%;
    margin-bottom: 80px;
  }
  .common_parts02.common_flow .parts02_box .item:last-of-type {
    margin-bottom: 0;
  }
  .common_parts02.common_flow .parts02_box .item::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 27.5px 0 27.5px;
    border-color: #ea881e transparent transparent transparent;
    line-height: 0px;
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translateX(-50%);
  }
  .common_parts02.common_flow .parts02_box .item .img:not(:last-of-type)::after {
    content: none;
  }
  .common_parts02.common_flow .parts02_box .item .exp {
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
}

.common_pointbox {
  border: 1px solid #319EDC;
  margin-bottom: 50px;
  position: relative;
}

.common_pointbox .ttl {
  padding: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  line-height: 2;
  background: linear-gradient(90deg, #0071af 40%, #319edc 100%);
}

.common_pointbox .ttl .icon {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

.common_pointbox .ttl .icon img {
  line-height: 2;
}

.common_pointbox .item {
  padding: 50px;
  background-color: #fff;
}

.common_pointbox .item .list {
  position: relative;
  padding-left: 70px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.6;
}

.common_pointbox .item .list:last-of-type {
  margin-bottom: 0;
}

.common_pointbox .item .list::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/sale/icon-check.png) no-repeat;
}

.common_pointbox .item .list span {
  font-weight: 600;
}

.common_pointbox .item.p40 {
  padding: 40px;
}

.common_pointbox .item .left {
  width: 42%;
}

.common_pointbox .item .right {
  width: 54%;
}

.common_pointbox .item .right .list_area {
  align-items: center;
  position: relative;
}

.common_pointbox .item .right .list_area li {
  padding: 5px;
  color: #666;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  width: 38%;
  background: #fff;
}

.common_pointbox .item .right .list_area li.plus {
  border: none;
  border-radius: 0;
  position: relative;
  padding: 0;
  height: 30px;
  width: 30px;
  margin: 0 10px;
  background: none;
}

.common_pointbox .item .right .list_area li.plus:before {
  content: '';
  display: block;
  height: 30px;
  width: 5px;
  background: #808080;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.common_pointbox .item .right .list_area li.plus:after {
  content: '';
  display: block;
  height: 5px;
  width: 30px;
  background: #808080;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.common_pointbox .item .right .price_area {
  align-items: center;
  margin: 15px 0;
  justify-content: space-between;
}

.common_pointbox .item .right .price_area .off {
  text-align: center;
  display: block;
  line-height: 1;
  position: relative;
  height: 120px;
  width: 120px;
  z-index: 1;
}

.common_pointbox .item .right .price_area .off:after {
  content: '';
  background: url(../img/allelectrification/off_bg.png) no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.common_pointbox .item .right .price_area .off .in {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}

.common_pointbox .item .right .price_area .off .in .big {
  position: relative;
  color: #ed1c24;
  font-size: 3vw;
  font-family: 'Oswald', sans-serif;
}

.common_pointbox .item .right .price_area .off .in .big:after {
  content: '%';
  font-size: 2vw;
}

.common_pointbox .item .right .price_area .off .in span {
  font-family: 'Oswald', sans-serif;
  display: block;
}

.common_pointbox .item .right .price_area .price {
  font-size: 7vw;
  margin-left: -5%;
  z-index: 2;
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(to bottom, #f15a24 25%, #fbb03b 75%);
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  align-items: flex-end;
  line-height: initial;
}

.common_pointbox .item .right .price_area .price:after {
  content: '円';
  font-size: 3vw;
  font-weight: 900;
}

.common_pointbox .item .right p {
  font-size: 14px;
  line-height: 140%;
}

@media screen and (max-width: 768px) {
  .common_pointbox {
    margin-bottom: 25px;
  }
  .common_pointbox:last-of-type {
    margin-bottom: 0;
  }
  .common_pointbox .ttl {
    padding: 15px;
    font-size: 16px;
    line-height: 1.2;
  }
  .common_pointbox .ttl .icon {
    width: 16px;
    height: 20px;
    margin-right: 10px;
  }
  .common_pointbox .ttl .icon img {
    line-height: 1.2;
  }
  .common_pointbox .item {
    padding: 25px 20px;
  }
  .common_pointbox .item .list {
    padding-left: 30px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }
  .common_pointbox .item .list::before {
    width: 20px;
    height: 20px;
    background-size: 100%;
  }
  .common_pointbox .item.p40 {
    padding: 20px 15px;
  }
  .common_pointbox .item .left {
    width: 100%;
  }
  .common_pointbox .item .right {
    width: 100%;
    margin-top: -10px;
  }
  .common_pointbox .item .right .list_area {
    z-index: 2;
    justify-content: flex-end;
  }
  .common_pointbox .item .right .list_area li {
    font-size: 13px;
  }
  .common_pointbox .item .right .list_area li.plus {
    height: 15px;
    width: 15px;
  }
  .common_pointbox .item .right .list_area li.plus:before {
    height: 15px;
    width: 3px;
  }
  .common_pointbox .item .right .list_area li.plus:after {
    height: 3px;
    width: 15px;
  }
  .common_pointbox .item .right .price_area {
    margin: -10px 0 10px 0;
  }
  .common_pointbox .item .right .price_area .off {
    height: 100px;
    width: 100px;
  }
  .common_pointbox .item .right .price_area .off .in {
    font-size: 4vw;
  }
  .common_pointbox .item .right .price_area .off .in .big {
    font-size: 8vw;
  }
  .common_pointbox .item .right .price_area .off .in .big:after {
    content: '%';
    font-size: 5vw;
  }
  .common_pointbox .item .right .price_area .price {
    font-size: 12vw;
    margin-left: inherit;
  }
  .common_pointbox .item .right .price_area .price:after {
    font-size: 5vw;
  }
  .common_pointbox .item .right p {
    font-size: 13px;
  }
}

@media screen and (max-width: 375px) {
  .common_pointbox .item .right .price_area .off {
    height: 85px;
    width: 85px;
  }
}

@media all and (-ms-high-contrast: none) {
  .common_pointbox .item .right .price_area .price {
    background: none;
    color: #f15a24;
  }
}

_::-webkit-full-page-media,
_:future,
:root .common_pointbox .item .right .price_area .price {
  background: none;
  color: #f15a24;
}

.common_map iframe {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .common_map iframe {
    height: 250px;
    width: 100%;
  }
}

.common_table {
  width: 100%;
  background-color: #fff;
  font-size: 18px;
  line-height: 1.333;
}

.common_table tr {
  border-top: 1px solid #c3c3c3;
}

.common_table tr th {
  width: 21%;
  padding: 30px 0;
  padding-left: 30px;
  text-align: left;
  font-size: 18px;
}

.common_table tr td {
  width: 79%;
  padding: 30px 0;
  padding-left: 30px;
  font-size: 18px;
}

.common_table tr td ul {
  padding-left: 25px;
}

.common_table tr td ul li {
  list-style: disc;
}

.common_table tr td ul li::marker {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .common_table {
    font-size: 14px;
    line-height: 1.333;
  }
  .common_table tr {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
  }
  .common_table tr th {
    width: 100%;
    padding: 0;
    padding-bottom: 5px;
    padding-left: 15px;
    text-align: left;
    font-size: 14px;
  }
  .common_table tr td {
    width: 100%;
    padding: 0;
    padding-left: 15px;
    font-size: 14px;
  }
  .common_table tr td ul {
    padding-left: 15px;
  }
  .common_table tr td ul li {
    list-style: disc;
  }
  .common_table tr td ul li::marker {
    font-size: 12px;
  }
}

.common_contact {
  padding: 100px 0 120px;
  background-color: #E4EBF3;
}

.common_contact .contact_box {
}

.common_contact .contact_box .list {
  margin-bottom: 40px;
  align-items: flex-start;
}

.common_contact .contact_box .list.t_area {
  align-items: flex-start;
  margin-bottom: 40px;
}

.common_contact .contact_box .list.t_area .input_list {
  align-items: flex-start;
}

.common_contact .contact_box .list label {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  width: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
}

.common_contact .contact_box .list label .mand {
  color: #319EDC;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}

.common_contact .contact_box .list .input_list {
  width: 64%;
  align-items: center;
}

.common_contact .contact_box .list .input_list input {
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #BFBFBF;
  background-color: #fafafa;
  padding: 11.5px;
  height: 40px;
}

.common_contact .contact_box .list .input_list textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #BFBFBF;
  background-color: #fafafa;
  padding: 11.5px;
  height: 180px;
}

.common_contact .contact_box .list .radio_area {
  display: flex;
}

.common_contact .contact_box .list .radio_area .radio-input {
  display: none;
}

.common_contact .contact_box .list .radio_area span:last-of-type label {
  margin-right: 0;
}

.common_contact .contact_box .list .radio_area label {
  width: inherit;
  font-weight: 500;
}

.common_contact .contact_box .list .radio_area label .mand {
  color: #319EDC;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}

.common_contact .contact_box .list .radio_area .radio-input + label {
  padding-left: 40px;
  margin-right: 13px;
  position: relative;
  margin-bottom: 0;
  height: 30px;
}

.common_contact .contact_box .list .radio_area .radio-input + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #BFBFBF;
  background: #FAFAFA;
}

.common_contact .contact_box .list .radio_area .radio-input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 4px);
  left: 12%;
  width: 11px;
  height: 7px;
  border-left: 3px solid #333;
  border-bottom: 3px solid #333;
  transform: rotate(-45deg) translate(-50%, -50%);
}

.common_contact .privacy_check_box {
  width: 100%;
}

.common_contact .privacy_check_box .privacy_txt {
  font-size: 18px;
  line-height: 1.9;
}

.common_contact .privacy_check_box .privacy_txt .txt_link {
  display: inline;
  color: #333;
  font-size: 18px;
  line-height: 1.9;
}

.common_contact .privacy_check_box .privacy_check_in {
  display: flex;
  justify-content: center;
}

.common_contact .privacy_check_box .privacy_check_in .privacy_checkbox {
  display: none;
}

.common_contact .privacy_check_box .privacy_check_in label {
  width: inherit;
  font-weight: 500;
}

.common_contact .privacy_check_box .privacy_check_in .privacy_checkbox + .privacy_txt {
  padding-left: 35px;
  position: relative;
  margin-bottom: 0;
  height: 30px;
}

.common_contact .privacy_check_box .privacy_check_in .privacy_checkbox + .privacy_txt::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #BFBFBF;
  background: #FAFAFA;
}

.common_contact .privacy_check_box .privacy_check_in .privacy_checkbox:checked + .privacy_txt::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 4px);
  left: 5%;
  width: 11px;
  height: 7px;
  border-left: 3px solid #333;
  border-bottom: 3px solid #333;
  transform: rotate(-45deg) translate(-50%, -50%);
}

.common_contact .submit_box {
  text-align: center;
}

.common_contact .submit_box .btn_in {
  width: 350px;
  margin: auto;
  position: relative;
  cursor: pointer;
}

.common_contact .submit_box .btn_in .submit_btn {
  width: 100%;
  text-align: center;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  color: #fff;
}

.common_contact .submit_box .btn_in .submit_btn:hover {
  opacity: 0.6;
}

.common_contact .submit_box .btn_in input {
  font-family: serif;
  width: 350px;
  text-align: center;
  background-color: orange;
  line-height: 1.5;
  padding: 23.5px;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}

.common_contact.contact_confirm .list label {
  font-size: 18px;
}

.common_contact.contact_confirm .list .input_list {
  font-size: 18px;
  font-weight: 500;
}

.common_contact.contact_confirm .submit_box {
  text-align: center;
}

.common_contact.contact_confirm .submit_box .btn_in {
  width: 350px;
  margin: auto;
  position: relative;
  cursor: pointer;
}

.common_contact.contact_confirm .submit_box .btn_in:first-of-type {
  margin-bottom: 20px;
}

.common_contact.contact_confirm .submit_box .btn_in:first-of-type .back_btn {
  border: 2px solid #333;
  color: #333;
  cursor: pointer;
}

.common_contact.contact_confirm .submit_box .btn_in:first-of-type .back_btn:hover {
  opacity: 0.6;
}

.common_contact.contact_confirm .submit_box .btn_in:first-of-type .back_btn:hover::after {
  left: -15px;
}

.common_contact.contact_confirm .submit_box .btn_in:first-of-type::after {
  background-color: #333;
  left: 0;
  right: auto;
}

.common_contact.contact_confirm .submit_box .btn_in:first-of-type:hover::after {
  left: -15px;
}

.common_contact.contact_complete .tel_content {
  margin-bottom: 30px;
}

.common_contact.contact_complete .tel_content .tel {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  position: relative;
}

.common_contact.contact_complete .tel_content .tel a {
  color: #0071AF;
  text-decoration: none;
}

.common_contact.contact_complete .tel_content .txt {
  font-size: 12px;
  color: #333;
  line-height: 1.2;
}

.common_contact.contact_complete .complete_textbox {
  text-align: center;
}

.common_contact.contact_complete .complete_textbox .complete_ttl {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.9;
  margin-bottom: 30px;
}

.common_contact.contact_complete .complete_textbox .complete_txt {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 10px;
}

.common_contact.contact_complete .complete_textbox .complete_txt:last-of-type {
  margin-bottom: 30px;
}

.common_contact.contact_complete .submit_box .btn_in {
  width: 100%;
  max-width: 350px;
}

.common_contact.contact_complete .submit_box .btn_in .back_btn {
  display: block;
  width: 100%;
  border: 2px solid #333;
  color: #333;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  line-height: 1.5;
  padding: 23.5px;
}

.common_contact.contact_complete .submit_box .btn_in:after {
  right: auto;
  left: 0;
  background-color: #333;
}

.common_contact.contact_complete .submit_box .btn_in:hover {
  opacity: .6;
}

.common_contact.contact_complete .submit_box .btn_in:hover::after {
  left: -15px;
}

.common_contact .validation_space {
  padding-top: 5px;
  font-size: 14px;
  color: #dc3232;
  line-height: 1.7;
  height: 25px;
}

@media screen and (max-width: 768px) {
  .common_contact {
    padding: 30px 0 60px;
  }
  .common_contact .contact_box {
    margin-bottom: 40px;
    padding: 30px 15px;
  }
  .common_contact .contact_box .list {
    margin-bottom: 25px;
  }
  .common_contact .contact_box .list label {
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .common_contact .contact_box .list .input_list {
    width: 100%;
    font-size: 16px;
  }
  .common_contact .contact_box .list .input_list input {
    width: 100%;
    height: inherit;
  }
  .common_contact .contact_box .list .input_list textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #BFBFBF;
    background-color: #fafafa;
    padding: 11.5px;
    height: 180px;
  }
  .common_contact .contact_box .list .radio_area {
    display: block;
  }
  .common_contact .contact_box .list .radio_area .radio-input + label {
    margin-bottom: 10px;
  }
  .common_contact .privacy_check_box .privacy_txt {
    font-size: 16px;
  }
  .common_contact .privacy_check_box .privacy_txt .txt_link {
    font-size: 16px;
    line-height: 1.9;
  }
  .common_contact .submit_box .btn_in {
    width: 80%;
  }
  .common_contact .submit_box .btn_in input {
    width: 100%;
    max-width: 100%;
    padding: 15px;
  }
  .common_contact.contact_confirm .list label {
    font-size: 16px;
  }
  .common_contact.contact_confirm .list .input_list {
    font-size: 16px;
  }
  .common_contact.contact_confirm .submit_box {
    text-align: center;
  }
  .common_contact.contact_confirm .submit_box .btn_in {
    width: 80%;
    max-width: 100%;
    margin: auto;
    position: relative;
    cursor: pointer;
  }
  .common_contact.contact_confirm .submit_box .btn_in:first-of-type {
    margin-bottom: 20px;
  }
  .common_contact.contact_complete .tel_content {
    margin-bottom: 30px;
  }
  .common_contact.contact_complete .tel_content .tel {
    font-size: 32px;
  }
  .common_contact.contact_complete .tel_content .txt {
    font-size: 12px;
  }
  .common_contact.contact_complete .complete_textbox {
    text-align: center;
  }
  .common_contact.contact_complete .complete_textbox .complete_ttl {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .common_contact.contact_complete .complete_textbox .complete_txt {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  .common_contact.contact_complete .complete_textbox .complete_txt:last-of-type {
    margin-bottom: 30px;
  }
  .common_contact.contact_complete .submit_box .btn_in {
    width: 80%;
  }
  .common_contact.contact_complete .submit_box .btn_in .back_btn {
    font-size: 16px;
    padding: 10px;
  }
  .common_contact .validation_space {
    margin-bottom: 10px;
    padding-top: 5px;
  }
}

.common_vic .item {
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  padding: 40px;
  opacity: 1;
}

.common_vic .item:not(:last-of-type) {
  margin-bottom: 30px;
}

.common_vic .item .flex {
  justify-content: space-between;
}

.common_vic .item .flex .img {
  width: 30.5%;
}

.common_vic .item .flex .img img {
  width: 100%;
}

.common_vic .item .flex .txt_p {
  width: 65.3%;
}

.common_vic .item .flex .txt_p h4 {
  font-size: 20px;
  font-weight: bold;
  color: #EA861E;
  line-height: 140%;
  margin-bottom: 20px;
}

.common_vic .item .flex .txt_p .age {
  display: block;
  margin-bottom: 20px;
}

.common_vic .comment {
  margin-top: 30px;
}

.common_vic .comment h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  width: 200px;
  height: 40px;
  padding-top: 5px;
  line-height: 1;
}

.common_vic .comment h4::after {
  content: '';
  background: url(../img/purchase/com_title.png) no-repeat left center;
  width: 100%;
  height: 100%;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.common_vic .comment .txt {
  padding: 25px 30px;
  background: #D9D9D9;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .common_vic .item {
    padding: 15px;
    padding-bottom: 40px;
  }
  .common_vic .item:not(:last-of-type) {
    margin-bottom: 25px;
  }
  .common_vic .item .flex .img {
    width: 100%;
    margin-bottom: 10px;
  }
  .common_vic .item .flex .txt_p {
    width: 100%;
  }
  .common_vic .item .flex .txt_p h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .common_vic .item .flex .txt_p .age {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .common_vic .item .flex .txt_p .txt {
    font-size: 14px;
  }
  .common_vic .item .comment {
    margin-top: 25px;
  }
  .common_vic .item .comment h4 {
    height: 30px;
    width: 150px;
    justify-content: flex-start;
    padding-left: 15px;
    font-size: 14px;
  }
  .common_vic .item .comment .txt {
    padding: 10px 15px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=common.css.map */