@import url("commons/commons.css");
@import url("commons/header.css");
@import url("commons/footer.css");

body {
  background-color: #f2fbfa;
}

#confirm {
  padding: 60px 0 116px;
  font-family: "Noto Sans";
  margin: 0 auto;
}
#confirm h2 {
  text-align: center;
  font-size: 25px;
  letter-spacing: 0;
  margin: 20px 0 100px;
}
.form {
  position: relative;
  text-align: center;
  max-width: 640px;
  min-height: 760px;
  border-radius: 30px;
  background-color: #fff;
  padding: 60px 50px 30px;
  margin: 0 auto;
  box-shadow: 0 0 4px 0 #d9e8e6;
}
#confirm .return-to-top {
  text-decoration: underline;
  font-size: 12px;
  font-weight: 500;
  font-family: "Noto Sans";
  letter-spacing: 0;
  color: #000;
}
.confirm__form-box .contact_box .list > * {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
}
.confirm__form-box .contact_box .list label {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  width: 33%;
  margin-bottom: 10px;
}
.confirm__form-box .margin {
  height: 50px;
}
.confirm__form-box .privacy_check_box {
  width: 100%;
  height: 30px;
  text-align: left;
  margin-left: 68px;
}
.confirm__form-box .privacy_check_box .privacy_check_in {
  font-size: 16px;
  line-height: 1.9;
}
.confirm__form-box .privacy_check_box .privacy_check_in span {
  font-weight: 700;
  /* color: #00b49f; */
}
.confirm__form-box .submit_box {
  margin: 50px 0 0;
}
.confirm__form-box .submit_box .btn_in .back_btn {
  text-decoration: underline;
  font-size: 12px;
  font-weight: 500;
  font-family: "Noto Sans";
  letter-spacing: 0;
  color: #000;
  margin-bottom: 10px;
}
.confirm__form-box .submit_box .btn_in .submit_btn {
  font-family: serif;
  width: 300px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  color: #fff;
  text-align: center;
  background-color: #00b49f;
  line-height: 1.5;
  padding: 23.5px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Noto Sans";
}

.footer {
  background-color: #f2fbfa;
}
.footer__content-box {
  max-width: 640px;
  min-height: 57px;
  color: #00b49f;
  letter-spacing: 0;
  padding: 0;
  margin: 0 auto;
}

#footer .footer__address {
  font-size: 12px;
  font-weight: 500;
  font-family: "Noto Sans";
  color: #00b49f;
}

@media (max-width: 768px) {
  body {
    background-color: #f2fbfa;
  }

  #confirm {
    padding: 8.2vw 3.846vw 0;
    font-family: "Noto Sans";
    margin: 0 auto;
  }
  #confirm h2 {
    font-size: 20px;
    margin: 10px 0 50px;
  }

  #confirm .form {
    position: relative;
    text-align: center;
    max-width: initial;
    min-height: initial;
    border-radius: 30px;
    background-color: #fff;
    padding: 32px 15px 20px;
    margin: 0 auto;
    box-shadow: 0 0 4px 0 #d9e8e6;
  }
  .confirm__form-box .contact_box .list label {
    width: 100%;
    font-size: 14px;
    margin-bottom: 0;
  }
  .confirm__form-box .contact_box .list .input_list {
    height: auto;
  }
  .confirm__form-box .margin {
    height: 20px;
  }
  .confirm__form-box .privacy_check_box {
    margin-left: 0;
  }
  .confirm__form-box .privacy_check_box .privacy_check_in {
    font-size: 12px;
  }
  .confirm__form-box .privacy_check_box .privacy_check_in span {
    font-weight: 700;
    /* color: #00b49f; */
  }

  .footer {
    background-color: #f2fbfa;
  }
  #footer .footer__address {
    color: #00b49f;
  }
}
