@import url("commons/commons.css");
@import url("commons/header.css");
@import url("commons/footer.css");

#download {
  padding: 100px 0 305px;
  background-color: #fff;
  font-family: Noto Sans;
}
.download__category {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  font-family: Gotham;
  letter-spacing: 1px;
  color: #81c9c1;
}
#download > h2 {
  text-align: center;
  font-size: 25px;
  margin: 20px 0 100px;
}
.download__content-box {
  letter-spacing: 0;
  max-width: 800px;
  margin: 0 auto;
}
.download__message {
  font-size: 16px;
}
.download__message p {
  line-height: 2;
}
.download__staff {
  margin: 30px 0 0;
}
#download .return-to-top {
  letter-spacing: 0;
  max-width: 800px;
  margin: 80px auto 0;
}

@media (max-width: 768px) {
  #download {
    padding: 30vw 8.97vw 35vw;
    background-color: #fff;
    font-family: Noto Sans;
  }
  .download__category {
    text-align: center;
    font-size: 3.59vw;
    font-weight: 700;
    font-family: Gotham;
    letter-spacing: 0;
    color: #81c9c1;
  }
  #download h2 {
    text-align: center;
    font-size: 5.128vw;
    letter-spacing: 0;
    margin: 10px 0 30px;
  }
  .download__content-box {
    letter-spacing: 0;
    max-width: 800px;
    margin: 0 auto;
  }
  .download__message {
    font-size: 3.59vw;
  }
  .download__message p {
    line-height: 2;
  }
  .download__staff {
    margin: 7.18vw 0 0;
  }
  #download .return-to-top {
    letter-spacing: 0;
    max-width: initial;
    margin: 25.64vw auto 0;
  }
}
