#form {
  text-align: initial;
}
.estimate__form-box .contact_box {
  margin-bottom: 90px;
}
.estimate__form-box .contact_box .margin {
  width: 100%;
  height: 30px;
}
.estimate__form-box .contact_box .list {
  margin-bottom: 20px;
  align-items: flex-start;
}
.is_between {
  justify-content: space-between;
}
.estimate__form-box .contact_box .list label {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  width: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
}
.estimate__form-box .contact_box .list label .mand {
  color: #00b49f;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}
.estimate__form-box .contact_box .list .input_list {
  width: 64%;
  align-items: center;
}
.estimate__form-box .contact_box .list .input_list .form_input_yoursei {
  width: calc(50% - 10px);
}
.estimate__form-box .contact_box .list .input_list .form_input_yourmei {
  width: calc(50% - 10px);
}
.estimate__form-box .contact_box .list .input_list input {
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  padding: 13px 20px;
  height: 50px;
}
.estimate__form-box .contact_box .list .input_list input::placeholder {
  color: #c8c8c8;
}
.estimate__form-box .validation_space {
  padding-top: 5px;
  font-size: 14px;
  color: #dc3232;
  line-height: 1.7;
  height: 25px;
}
.estimate__form-box .privacy_check_box {
  width: 100%;
}
.estimate__form-box .privacy_check_box .privacy_check_in {
  display: flex;
  justify-content: flex-start;
}
.estimate__form-box .privacy_check_box .privacy_check_in .privacy_checkbox {
  display: none;
}
.estimate__form-box
  .privacy_check_box
  .privacy_check_in
  .privacy_checkbox
  + .privacy_txt {
  padding-left: 35px;
  position: relative;
  margin-bottom: 0;
  height: 30px;
}
.estimate__form-box .privacy_check_box .privacy_check_in label {
  width: inherit;
  font-weight: 500;
}
.estimate__form-box .privacy_check_box .privacy_txt {
  font-size: 16px;
  line-height: 1.9;
}
.estimate__form-box
  .privacy_check_box
  .privacy_check_in
  .privacy_checkbox
  + .privacy_txt::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  background: #fff;
}
.estimate__form-box
  .privacy_check_box
  .privacy_check_in
  .privacy_checkbox:checked
  + .privacy_txt::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  left: 14px;
  width: 11px;
  height: 7px;
  border-left: 3px solid #333;
  border-bottom: 3px solid #333;
  transform: rotate(-45deg) translate(-50%, -50%);
}
.estimate__form-box .privacy_check_box .privacy_txt .txt_link {
  text-decoration: none;
  display: inline;
  color: #00b49f;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
}
.estimate__form-box .submit_box {
  text-align: center;
}
.estimate__form-box .submit_box .btn_in {
  width: 300px;
  margin: auto;
  position: relative;
  cursor: pointer;
}
.estimate__form-box .submit_box .btn_in .submit_btn {
  width: 100%;
  text-align: center;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  color: #fff;
}
.estimate__form-box .submit_box .btn_in input {
  font-family: serif;
  width: 300px;
  text-align: center;
  background-color: #00b49f;
  line-height: 1.5;
  padding: 23.5px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  .inner_min {
    max-width: 560px;
    width: 90%;
    margin: auto;
  }
  .estimate__form-box .contact_box {
    margin-bottom: 40px;
  }
  .estimate__form-box .contact_box .margin {
    height: 25px;
  }
  .estimate__form-box .contact_box .list {
    margin-bottom: 10px;
  }
  .estimate__form-box .contact_box .list label {
    width: 100%;
    font-size: 16px;
    margin-bottom: 0;
  }
  .estimate__form-box .contact_box .list .input_list {
    width: 100%;
    font-size: 16px;
  }
  .estimate__form-box .contact_box .list .input_list input {
    width: 100%;
    height: inherit;
  }
  .estimate__form-box .validation_space {
    margin-bottom: 10px;
    padding-top: 5px;
  }
  .estimate__form-box .privacy_check_box .privacy_txt {
    font-size: 14px;
    line-height: 1.9;
  }
  .estimate__form-box
    .privacy_check_box
    .privacy_check_in
    .privacy_checkbox
    + .privacy_txt::before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 10px;
    width: 18px;
    height: 18px;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    background: #fff;
  }
  .estimate__form-box
    .privacy_check_box
    .privacy_check_in
    .privacy_checkbox:checked
    + .privacy_txt::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 8px);
    left: 14px;
    width: 11px;
    height: 7px;
    border-left: 3px solid #333;
    border-bottom: 3px solid #333;
    transform: rotate(-45deg) translate(-50%, -50%);
  }
  .estimate__form-box .privacy_check_box .privacy_txt .txt_link {
    font-size: 14px;
    line-height: 1.9;
  }
  .estimate__form-box .submit_box .btn_in {
    width: 80%;
  }
  .estimate__form-box .submit_box .btn_in input {
    width: 100%;
    max-width: 100%;
    padding: 15px;
  }
}
