@import url("commons/commons.css");
@import url("commons/header.css");
@import url("commons/footer.css");

body {
  background-color: #f2fbfa;
}

#shiryou {
  padding: 60px 0 116px;
  font-family: Noto Sans;
  margin: 0 auto;
}
.shiryou__category {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  font-family: Gotham;
  letter-spacing: 1px;
  color: #81c9c1;
}
#shiryou h2 {
  text-align: center;
  font-size: 25px;
  margin: 20px 0;
}
#shiryou .required {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
}
#shiryou .required::before {
  content: "*";
  color: #00b49f;
}

.form {
  position: relative;
  text-align: center;
  max-width: 640px;
  min-height: 760px;
  border-radius: 30px;
  background-color: #fff;
  padding: 60px 50px 30px;
  margin: 0 auto;
  box-shadow: 0 0 4px 0 #d9e8e6;
}
form {
  height: 500px;
  /* 暫定的に。 */
}
#shiryou .return-to-top {
  text-decoration: underline;
  font-size: 12px;
  font-weight: 400;
  font-family: Noto Sans;
  letter-spacing: 0;
  color: #000;
}

.footer {
  background-color: #f2fbfa;
}
.footer__content-box {
  max-width: 640px;
  min-height: 57px;
  color: #00b49f;
  letter-spacing: 0;
  padding: 0;
  margin: 0 auto;
}

#footer .footer__address {
  font-size: 12px;
  font-weight: 400;
  font-family: Noto Sans;
  color: #00b49f;
}

@media (max-width: 768px) {
  body {
    background-color: #f2fbfa;
  }

  #shiryou {
    padding: 8.2vw 3.846vw 0;
    font-family: Noto Sans;
    margin: 0 auto;
  }
  .shiryou__category {
    text-align: center;
    font-size: 3.59vw;
    font-weight: 700;
    font-family: Gotham;
    letter-spacing: 0;
    color: #81c9c1;
  }
  #shiryou h2 {
    text-align: center;
    font-size: 5.235vw;
    margin: 10px 0;
  }
  #shiryou .required {
    text-align: center;
    font-size: 2.6vw;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
  }
  #shiryou .required::before {
    content: "*";
    color: #00b49f;
  }

  .form {
    position: relative;
    text-align: center;
    max-width: initial;
    min-height: initial;
    border-radius: 30px;
    background-color: #fff;
    padding: 32px 15px 20px;
    margin: 0 auto;
    box-shadow: 0 0 4px 0 #d9e8e6;
  }
  form {
    height: 500px;
    /* 暫定的に。 */
  }
  #shiryou .return-to-top {
    text-decoration: underline;
    font-size: 2.6vw;
    font-weight: 400;
    font-family: Noto Sans;
    letter-spacing: 0;
    color: #000;
  }

  .footer {
    background-color: #f2fbfa;
  }
  #footer .footer__address {
    color: #00b49f;
  }
}
