/* .js-fade-up,
.js-fade-order li,
.js-fade-order > div,
.js-fade-order > p {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s;
}

.js-fade-up.is-shown,
.js-fade-order li.is-shown,
.js-fade-order > div.is-shown,
.js-fade-order > p.is-shown {
  opacity: 1;
  transform: translate(0);
}

.js-slide-order li {
  opacity: 0;
  position: relative;
  left: -50px;
  transition: all 0.8s;
}

.js-slide-order li.is-shown {
  opacity: 1;
} */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: Noto Sans, Gotham, "游ゴシック体", YuGothic, "游ゴシック",
    "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  line-height: 1;
  letter-spacing: 1px;
  color: #000;
  background: #fff;
  /* max-width: 1320px; */
  margin: 0 auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
* {
  box-sizing: border-box;
}

section {
  position: relative;
  display: inline-block;
  width: 100%;
}
