.header__items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  max-height: 100px;
  padding: 0 50px;
  font-family: Noto Sans;
}
.header__left {
  display: flex;
}
.header__logo {
  width: 456.4px;
}
.header__logo::before {
  content: "";
  display: block;
  background: url("../../img/common/header-logo-pc.png") center no-repeat;
  background-size: contain;
  width: 100%;
  height: 41px;
}
.header__right {
  display: flex;
}
.header__right .download__document {
  width: 180px;
  margin-right: 10px;
}
.header__right .download__document::before {
  content: "";
  display: block;
  background: url("../../img/common/download_document.png") center no-repeat;
  background-size: contain;
  width: 100%;
  height: 50.4px;
}
.header__right .estimate__link {
  width: 180px;
  margin-right: 10px;
}
.header__right .estimate__link::before {
  content: "";
  display: block;
  background: url("../../img/common/estimate_link.png") center no-repeat;
  background-size: contain;
  width: 100%;
  height: 50.4px;
}

@media (max-width: 768px) {
  .header__items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 15.5vw;
    max-height: initial;
    padding: 0 5vw;
    font-family: Noto Sans;
  }
  .header__left {
    display: flex;
  }
  .header__logo {
    width: 47.6vw;
  }
  .header__logo::before {
    content: "";
    display: block;
    background: url("../../img/common/header-logo-sp.png") center no-repeat;
    background-size: contain;
    width: 100%;
    height: 12vw;
  }
  .header__right {
    display: flex;
    align-items: center;
  }
  .header__right .download__document {
    position: relative;
    border-radius: 50%;
    width: 10.3vw;
    height: 10.3vw;
    margin-right: 3.5vw;
    background-color: #fff500;
  }
  .header__right .download__document::before {
    content: "";
    position: absolute;
    top: 3.1vw;
    left: 3.3vw;
    display: block;
    background: url("../../img/common/download_document-icon.svg") center
      no-repeat;
    background-size: contain;
    text-align: center;
    width: 3.9vw;
    height: 4vw;
  }
  .header__right .estimate__link {
    position: relative;
    border-radius: 50%;
    width: 10.3vw;
    height: 10.3vw;
    margin-right: 0;
    background-color: #00b49f;
  }
  .header__right .estimate__link::before {
    content: "";
    position: absolute;
    top: 2.6vw;
    left: 3.3vw;
    display: block;
    background: url("../../img/common/estimate_link-icon.svg") center no-repeat;
    background-size: contain;
    width: 3.9vw;
    height: 5.2vw;
  }
}
