* {
  box-sizing: border-box;
}

body {
  font-family: 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', serif;
  min-width: 1200px;
  overflow-x: hidden;
  background: #fff;
  font-size: 16px;
  letter-spacing: .2em;
  color: #1a1a1a;

  @include m {
    min-width: auto;
    font-size: vw(24);
  }
}

#wrapper {
  display: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

::selection {
  background: $key;
  color: #fff;
}

/* for Firefox */
::-moz-selection {
  background: $key;
  color: #fff;
}

br.sp {
  display: none;

  @include m {
    display: block;
  }
}

.back-button {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  right: 10px;

  img {
    width: 60px;
    height: 60px;

    @include m {
      width: vw(90);
      height: vw(90);
    }
  }

  @include m {
    bottom: vw(20);
    right: vw(20);
  }

}