.footer {
  text-align: center;
  background: $key;
  font-size: 12px;
  color: #fff;
  padding: 20px 0;
  position: relative;
  top: -1px;

  @include m {
    padding: vw(30) 0;
    font-size: vw(24);
  }
}