#point {
  padding: 50px 20px;
  background-color: #fff;
  font-family: Noto Sans;
}
.point__category {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  font-family: Gotham;
  letter-spacing: 1px;
  color: #81c9c1;
}
#point > h2 {
  text-align: center;
  font-size: 30px;
  margin: 50px 0 100px;
}
#point > h2 > span {
  color: #00b49f;
}
.point__content-box {
  max-width: 1200px;
  margin: 0 auto;
}
.point__content-box > div {
  width: 100%;
}
.point__content.first {
  margin-bottom: 80px;
}
.point__image {
  width: 33.33%;
  text-align: center;
}

@media (max-width: 768px) {
  #point {
    padding: 50px 20px;
    background-color: #fff;
    font-family: Noto Sans;
  }
  .point__category {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font-family: Gotham;
    letter-spacing: 0;
    color: #81c9c1;
  }
  #point > h2 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
    margin: 2.56vw 0 12.8vw;
  }
  #point > h2 > span {
    color: #00b49f;
  }
  .point__content-box {
    max-width: 1200px;
    margin: 0 auto;
  }
  .point__content-box > div {
    width: 100%;
  }
  .point__content {
    display: block;
  }
  .point__content.first {
    margin-bottom: 0;
  }
  .point__image {
    width: 100%;
    text-align: center;
    margin: 0 0 50px;
  }
}
