#trouble {
  padding: 100px 50px;
  background-color: #f2fbfa;
  font-family: "Noto Sans", sans-serif;
}
#trouble > h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 1.2;
  margin: 30px 0;
}
#trouble > h2 > span {
  color: #00b49f;
}
.trouble__content-box {
  max-width: 1200px;
  margin: 0 auto;
}
.trouble__content-box > div {
  width: 100%;
}
.trouble__image {
  text-align: center;
  margin: 0 0 10px 0;
}
.trouble__question-box {
  padding: 15px 0;
}
.trouble__question-box > .trouble__question:nth-child(1) {
  width: 34%;
}
.trouble__question-box > .trouble__question:nth-child(3) {
  width: 33%;
}
.trouble__question-box > .trouble__question:nth-child(5) {
  width: 31%;
}
.trouble__question-box > .trouble__border {
  width: 1px;
  height: 80px;
  border-right: 1px solid #a7dec2;
  margin: 0 1%;
}
.trouble__question-box .trouble__question-number {
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica;
  color: #fff;
  background-color: #00b49f;
  border-radius: 50%;
  padding: 7.5px 11.5px;
  margin-right: 10px;
}
.trouble__question-box .trouble__question-text {
  text-align: left;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.4;
  letter-spacing: 0;
}
.trouble__question-box .trouble__question-text .trouble__question-text-bold {
  font-weight: 700;
}
.trouble__down-cursor {
  max-width: 100px;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #00b49f transparent transparent transparent;
  margin: 100px auto 50px;
}
.trouble__text {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
}
#trouble .download__document {
  display: table;
  margin: 50px auto 0;
}
#trouble .download__document:hover {
  filter: brightness(90%);
}

@media (max-width: 768px) {
  #trouble {
    padding: 50px 20px;
  }
  #trouble > h2 {
    font-size: 20px;
    margin: 10px 0 24px;
  }
  .trouble__content-box {
    max-width: initial;
  }
  .trouble__content-box > div {
    padding: 0 10px;
  }
  .trouble__image {
    margin: 0 0 10vw 0;
  }
  .trouble__question-box {
    display: block;
    padding: 0 0 0 10px;
    margin: 0 -10px 0 0;
  }
  .trouble__question-box > .trouble__question {
    position: relative;
    width: 100%;
    margin-bottom: 10vw;
  }
  .trouble__question-box > .trouble__question.pc-only {
    display: none;
  }
  .trouble__question-box > .trouble__question:nth-child(1) {
    width: inherit;
  }
  .trouble__question-box > .trouble__question:nth-child(3) {
    width: inherit;
  }
  .trouble__question-box > .trouble__question:nth-child(5) {
    width: inherit;
  }
  .trouble__border.sp-only {
    position: absolute;
    left: -9px;
    display: block;
    width: 1px;
    height: 15.38vw;
    background-color: #a7dec2;
  }
  .trouble__question-box .trouble__question-number {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica;
    color: #fff;
    background-color: #00b49f;
    border-radius: 50%;
    padding: 7.5px 11.5px;
    margin-right: 10px;
  }
  .trouble__question-box .trouble__question-text {
    font-size: 16px;
  }
  .trouble__down-cursor {
    width: 0;
    height: 0;
    border-width: 35px 35px 0 35px;
    margin: 50px auto 40px;
  }
  .trouble__text {
    font-size: 18px;
  }
  #trouble .download__document {
    width: 95%;
  }
}
