.footer {
  background-color: #00b49f;
}
.footer__content-box {
  max-width: 1200px;
  min-height: 57px;
  color: #fff;
  font-family: "Noto Sans";
  letter-spacing: 0;
  padding: 0 50px;
  margin: 0 auto;
}
.footer__privacy-policy-link-box {
  font-size: 14px;
  font-weight: 500;
}
#footer .privacy-policy {
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  margin: 0 30px 0 0;
}
#footer .privacy-policy-treatment {
  text-decoration: none;
  overflow: hidden;
  color: #fff;
}
#footer .footer__address {
  font-size: 12px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .footer__content-box {
    max-width: initial;
    min-height: 40px;
    padding: 7.692vw 12.82vw 3.077vw;
  }
  .footer__privacy-policy-link-box {
    line-height: 2;
  }
  #footer .privacy-policy {
    margin: 0;
  }
  #footer .footer__address {
    margin: 12.82vw 0 0;
  }

  /* TOP以外の画面 */
  .footer__content-box.top-only {
    justify-content: center;
    padding: 0;
  }
  .footer__content-box.top-only .footer__privacy-policy-link-box {
    display: none;
  }
  #footer > .top-only .footer__address {
    font-size: 10px;
    font-weight: 500;
    margin: 0;
  }
}
