.photo {

  &__container {
    background: $key;
    padding-bottom: 200px;

    @include m {
      padding-bottom: vw(200);
    }

  }

  &__title-en {
    padding-top: 200px;
    text-align: center;

    @include m {
      padding-top: vw(200);
    }

    img {
      width: 381px;
      height: 93px;

      @include m {
        width: vw(381);
        height: vw(93);
      }
    }
  }

  &__title-jp {
    @include title-jp;
    color: #fff;
    margin-top: 13px;

    @include m {
      margin-top: vw(21);
    }
  }

  &__slider {
    overflow-x: hidden;
    margin-top: 95px;
    position: relative;

    @include m {
      margin-top: vw(100);
    }
  }

  &__slider-item {
    transform: scale(.85);
    transition: all .8s;
    overflow: hidden;

    &.slick-current {
      transform: scale(1);
    }

    img {
      width: 100%;
      position: relative;
      top: 2px;
      vertical-align: bottom;
    }
  }

  &__slide-arrow {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    background: url('../img/photo_icon_arrow.svg') no-repeat center / contain;
    width: 60px;
    height: 60px;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }

    @include m {
      width: vw(60);
      height: vw(60);
    }

    &--prev {
      left: 20px;

      @include m {
        left: vw(20);
      }
    }

    &--next {
      right: 20px;
      transform: translateY(-50%) rotate(180deg);

      @include m {
        right: vw(20);
      }
    }
  }
}