@import url("commons/commons.css");
@import url("commons/header.css");
@import url("commons/footer.css");
@import url("top/fv.css");
@import url("top/grid.css");
@import url("top/trouble.css");
@import url("top/realizable.css");
@import url("top/service.css");
@import url("top/point.css");
@import url("top/estimate.css");
@import url("top/logo.css");

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    font-size: 3.2vw;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    line-height: 1;
    letter-spacing: 0.2em;
    color: #1a1a1a;
    background: #fff;
    min-width: 320px;
    margin: auto;
  }
}
