.iv {
  background: $sub;

  &__container {
    max-width: 1500px;
    margin: auto;
    padding-bottom: 170px;
    position: relative;
    overflow-x: hidden;

    @include m {
      padding-bottom: vw(150);
    }
  }

  &__title-en {
    padding-top: 200px;
    text-align: center;

    @include m {
      padding-top: vw(170);
    }

    img {
      width: 247px;
      height: 80px;

      @include m {
        width: vw(247);
        height: vw(80);
      }
    }
  }

  &__title-jp {
    @include title-jp;
    margin-top: 21px;

    @include m {
      margin-right: vw(33);
    }
  }

  &__contents-wrapper {
    max-width: 1200px;
    margin: auto;
    position: relative;
  }

  &__contents {
    margin: 100px auto 0;
    background: #fff;min-height: 850px;
    padding-top: 75px;

    @include m {
      min-height: auto;
      margin-top: vw(100);
      padding: vw(100) 0;
    }

    &>div {
      display: flex;
      width: 1000px;
      margin: auto;

      @include m {
        flex-direction: column;
        width: vw(600);
      }
    }
  }

  &__contents-pic {
    width: 320px;
    height: 300px;
    margin-right: 80px;
    flex-shrink: 0;

    @include m {
      width: vw(320);
      height: vw(300);
      margin: 0 auto;
    }
  }

  &__contents-cc {
    font-size: 30px;
    line-height: lh(30, 60);
    color: $key;
    font-weight: bold;

    @include m {
      font-size: vw(30);
      margin-top: spacevw(100, 30, 60);
      text-align: center;
    }
  }

  &__contents-attr {
    background: $key;
    color: #fff;
    letter-spacing: .1em;
    margin-top: space(55, 30, 60);
    padding: 18px 20px;

    @include m {
      margin-top: spacevw(100, 30, 60);
      padding: vw(14) 0;
      width: 100%;
      text-align: center;
    }
  }

  &__contents-text {
    letter-spacing: .1em;
    line-height: lh(16, 32);
    margin-top: space(57, 16, 32);

    @include m {
      margin-top: spacevw(100, 24, 32);
    }
  }

  &__slide-arrow {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    background: url('../img/iv_icon_arrow.svg') no-repeat center / contain;
    width: 40px;
    height: 20px;
    cursor: pointer;

    @include m {
      top: vw(240);
      transform: translateY(0);
      width: vw(40);
      height: vw(20);
    }

    &--prev {
      left: -4.5vw;
      transform: translateY(-50%) rotate(180deg);

      @include l {
        left: 0;
      }

      @include m {
        left: vw(20);
        transform: translateY(0) rotate(180deg);
      }
    }

    &--next {
      right: -4.5vw;

      @include l {
        right: 0;
      }

      @include m {
        right: vw(20);
      }
    }
  }
}


// スライダー部分
.slick-dots li button::before {
  font-size: 7.5px;
  color: rgba($key, .5);

  @include m {
    margin-top: 30px;
  }
}

.slick-dots li {
  width: 12px;
  margin: 0;

  @include m {
    width: vw(24);
  }
}

.slick-dots li.slick-active button:before {
  font-size: 12px;
  color: $key;

  @include m {
    font-size: vw(24);
  }
}