.map {
  background: $key;

  &__container {
    padding-bottom: 158px;

    @include m {
      padding-bottom: vw(200);
    }
  }

  &__title-en {
    padding-top: 200px;
    text-align: center;

    @include m {
      padding-top: vw(200);
    }

    img {
      width: 517px;
      height: 88px;

      @include m {
        width: vw(525);
        height: vw(87);
      }
    }
  }

  &__title-jp {
    @include title-jp;
    color: #fff;
    margin-top: 22px;

    @include m {
      margin-top: vw(30);
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    margin: 100px auto 0;
    text-align: center;

    @include m {
      display: none;
    }
  }

  &__image-inner {
    display: inline-block;
    position: relative;

    >img {
      width: 736px;
      height: 794px;
    }
  }

  &__area-name {
    position: absolute;
    cursor: pointer;

    &--area01 {
      top: 231px;
      right: 0;
    }

    &--area02 {
      top: 491px;
      right: 137px;
    }

    &--area03 {
      top: 387px;
      left: 153px;
    }

    &--area04 {
      bottom: 150px;
      right: 283px;
    }

    &--area05 {
      bottom: 277px;
      left: 120px;
    }

    &--area06 {
      bottom: 75px;
      left: 170px;
    }

    &--area07 {
      bottom: 133px;
      left: -95px;
    }

  }

  &__area-list {
    display: none;

    @include m {
      display: block;
      margin-top: vw(100);
    }
  }

  &__area-list-item {
    background: #fff;
    color: $key;
    position: relative;
    margin-top: 2px;

    a {
      display: block;
      padding: vw(40);

      &::after {
        content: '';
        display: inline-block;
        background: url('../img/icon_arrow_typeA.svg')no-repeat center / contain;
        width: vw(10);
        height: vw(20);
        position: absolute;
        right: vw(40);
      }
    }
  }

}

area {
  &:focus {
    outline: none;
  }
}